cython==0.29.32
opencv-python==4.6.0.66
einops
ftfy==6.1.1
fvcore
pandas
pillow==9.2.0
scipy==1.9.3
shapely==1.16.0
six==1.16.0
scikit-learn==1.2.2
timm==0.6.11
tqdm==4.64.1
seaborn
h5py==3.7.0
submitit
scikit-image
setuptools==59.5.0
