cython==0.29.32
opencv-python==4.9.0.80
einops
ftfy==6.1.3
fvcore
pandas
pillow==9.3.0
scipy==1.12.0
shapely==1.16.0
six==1.16.0
scikit-learn
timm==0.9.12
tqdm==4.66.1
seaborn
h5py==3.7.0
submitit
scikit-image
setuptools==59.6.0
# pip install git+https://github.com/cocodataset/panopticapi.git